
body{
  background-color: rgb(239, 238, 233);
  background-image: url('https://ucarecdn.com/6cad0d8f-4ac1-47a8-aa26-6fc14b6b6d56/');
  background-attachment: fixed;
  background-position: center;
}


// @media screen and (max-aspect-ratio: 9/16) {
//   body {
//     background-image: url('https://ucarecdn.com/6cad0d8f-4ac1-47a8-aa26-6fc14b6b6d56/');
//   }
// }

@media screen and (min-aspect-ratio: 1.2) {
  body {
    background-image: url('https://ucarecdn.com/1442c086-f2b8-4ae5-9867-3198b758587f/');
  }
}

#quiz{
  display: flex;
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.text-question-italic{
  font-weight: 400;
}

.question{
  position: relative;
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 24px;
  page-break-inside: avoid;
  overflow: hidden;
}

.question.section-header{
  font-size: 19px;
  font-weight: bold;
}

.hint-container{
  position: absolute;
  display: none;
  background-color: white;
  border: 1px solid #5d636f;
  width: 50%;
  height: 70%;
  border-radius: 5px;
  padding: 5px;
  color: #28a745;
  top: 5px;
  right:  3.6%;
  animation: hint 0.3s ease-in-out 1;
}

.last-message{
  padding: 16px;
  font-size: 25px;

  .message{
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
    &.got{
      margin-bottom: 5px;
    }
  }
}

@keyframes hint {
  0% { right: -70%;}
  99% { right:  3.6%}
 }

.question .check-sign{
  cursor: pointer;
  color: #28a745;
  position: absolute;
  bottom: 0.5vw;
  right: 0.6vw;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.question .hint-sign{
  cursor: pointer;
  color: grey;
  position: absolute;
  top: 0.5vw;
  right: 0.6vw;
  font-size: 20px;
}

.question.correct{
  border: 1px solid #28a745;
}

.question.correct{
  border: 1px solid #28a745;
  background-color: rgba(40,167,69,0.2);
}

.question.incorrect{
  border: 1px solid #dc3545;
  background-color: rgba(220, 53, 69, 0.2);
}

.question.incorrect .answer-text-input.in-blank{
  background-color: rgba(220, 53, 69, 0.5);
}

.question .answer-text-input.in-blank.incorrect{
  background-color: rgba(220, 53, 69, 0.5);
}

div.question.correct .answer-text-input.in-blank{
  background-color: rgba(40, 167, 69, 0.5);
}

div.question .answer-text-input.in-blank.correct{
  background-color: rgba(40, 167, 69, 0.5);
}

.checkbox-container{
  margin-bottom: 16px;

  input{
    cursor: pointer;
  }
}
.checkbox-container label{
  position: relative;
  bottom: 1px;
  padding-left: 4px;
  cursor: pointer;
}

.question-text{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: .1px;
  line-height: 24px;
  color: #202124;
  font-weight: 400;
  width: 100%;
  word-break: break-word;
  margin-bottom: 16px;
}

.question.in-blank .question-text{
  margin-bottom: 0px;
}

.question.incorrect .check-sign{
  color: #dc3545;
}

.answer{
  display: flex;
  flex-direction: column;
}

.answer-text{
  width: 60%;
}
.answer-text.in-blank{
  display: inline-block;
  width: auto;
  margin-right: 5px;
}
.answer-text-input{
  background: transparent;
  padding: 2px;
  border: 0;
  border-bottom: 1px solid #dadce0;
  width: 100%;
}

.answer-text-input.in-blank{
  padding: 2px;
  border: 0;
  border: 1px solid #dadce0;
  width: 100%;
}

.answer-text-input:focus{
  outline: none;
  border-bottom: 1px solid #5d636f;
}

.answer-text-input.in-blank:focus{
  outline: none;
  border: 1px solid #dadce0;
}

.error-text{
  color: red;
  font-size: 12px;
  width: 55%;
  padding-top: 10px;
}

.button{
  width: 180px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

#start{
  font-size: 20px;
  width: 200px;
  height: 55px;
  border-radius: 5px;
  align-self: center;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='6' stroke-dasharray='1%2c 9' stroke-dashoffset='47' stroke-linecap='square'/%3e%3c/svg%3e");
}

.button:focus{
  outline: none;
}

.button:active{
  border: 1px solid #5d636f;
}

.button-container{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 600px) {
  .answer-text{
    width: 90%;
  }

  .question .check-sign{
    right: 30px;
    font-size: 25px;
    bottom: 3vw;
  }
  
  .question .hint-sign{
    right: 30px;
    font-size: 25px;
    bottom: 3vw;
  }
  .question.in-blank .question-text{
    margin-bottom: 12px;
  }

}

@media (max-width: 500px) {
  .question{
    padding-right: 45px;
  }

  .question .check-sign{
    right: 20px;
    font-size: 22px;
  }
  
  .question .hint-sign{
    right: 20px;
    font-size: 22px;
  }
  .button {
    width: 130px;
    height: 40px;
    font-size: 12px;
  }
}


@media screen {
  
}

.progressElemBG{
  height: 25px;
  display: flex;

  .progressElem{
    width: 0px;
    height: 25px;
    background-color: 	#282828;
    transition: width 0.4s, background-color 0.4s;
    margin-left: 5px;
    &:first-child{
      border-radius: 10px 0px 0px 10px;
    }
    &:last-child{
      border-radius: 0px 10px 10px 0px;
    }
  }

  .progressElemLast{
    width: 0px;
    height: 25px;
    background-color:gray
  }
}

#number-container{
  margin-top: 5px;
  margin-left: 5px;
}